@page
@model BugzNet.Web.Pages.MyAccount.ChangePasswordModel
@{
}

<div class="columns">
    <div class="column is-full is-multiline is-fullheight">
        <div class="box has-margin-top-15 has-text-centered">
            <form method="post">
                <h1 class="title">Change Password</h1>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">&nbsp;Current Password</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                                <input asp-for="@Model.Data.CurrentPassword" class="input" type="password" placeholder="Current Password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user-secret"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">&nbsp;New Password</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                                <input asp-for="@Model.Data.NewPassword" class="input" type="password" placeholder="New Password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user-secret"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">&nbsp;Password Confirmation</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                                <input asp-for="@Model.Data.PasswordConfirmation" class="input" type="password" placeholder="Password Confirmation">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user-secret"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="message is-danger"></div>
                <div asp-validation-summary="All" class="is-danger"></div>
                <br />
                <div class="field is-grouped is-grouped-right">
                    <a asp-page="/Index" class="button is-rounded is-link">Back to My Account</a>
                    <button type="submit" class="button is-rounded is-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script nonce="@HttpContext.Items["CSP_NONCE"]">
        const passwordFields = document.querySelectorAll('input[type=password]');
        const message = document.querySelector('.message');

        for (field of passwordFields) {
            field.addEventListener('keyup', function (e) {
                if (e.getModifierState('CapsLock')) {
                    message.textContent = 'Caps lock is on';
                } else {
                    message.textContent = '';
                }
            });
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}