@page
@model BugzNet.Web.Pages.Identity.ForgotPasswordModel
@{
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
}

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="box login-box">
            <div class="container login-container has-width-350-desktop">
                <h2 style="font-weight: bold">Forgot Password</h2>
                <p>Submit your email to reset your password.</p>
                <form asp-page="/Identity/ForgotPassword" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="field">
                        <div class="control">
                            <input class="input" asp-for="Input.Email" type="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="message field is-danger"></div>
                    <div class="field is-grouped">
                        <div class="control is-expanded">
                            <button type="submit" class="button is-primary is-fullwidth">Submit</button>
                        </div>
                    </div>
                    <p>
                        Note from Admin:<br/>
                        Remember to save your password after, or i'll have to start charging you plebs for each password reset!
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>

<style>
    h2, p, form {
        margin: 0.7rem;
    }
</style>