@page
@model BugzNet.Web.Pages.Identity.ForgotPasswordConfirmation
@{
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
}

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="box login-box">
            <div class="container login-container has-width-350-desktop">
                <p>A password reset email has been sent to your address.</p>
            </div>
            <br/>
        </div>
    </div>
</section>
