@page
@model BugzNet.Web.Pages.Identity.ResetPasswordModel
@{
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
}

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="box login-box">
            <div class="container login-container has-width-350-desktop">
                <h2 style="font-weight: bold">Reset Password</h2>
                <p>Type your new password.</p>
                <form asp-page="/Identity/ResetPassword" id="forgot_passwd_form" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input class="input" asp-for="Input.Token" type="hidden" />
                    <input class="input" asp-for="Input.Email" type="hidden" />
                    <div class="field">
                        <div class="control">
                            <input class="input" asp-for="Input.Password" type="password" placeholder="New Password">
                        </div>
                        <div class="control">
                            <input class="input" id="passwd_confirmation" type="password" placeholder="Password Confirmation">
                        </div>
                    </div>
                    <div class="message field is-danger"></div>
                    <div class="field is-grouped">
                        <div class="control is-expanded">
                            <button type="submit" class="button is-primary is-fullwidth">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script nonce="@HttpContext.Items["CSP_NONCE"]">
    const message = document.querySelector('.message');

    window.Input_Password.addEventListener('keyup', function (e) {
        if (e.getModifierState('CapsLock')) {
            message.textContent = 'Caps lock is on';
        } else {
            message.textContent = '';
        }
    });

    window.forgot_passwd_form.onsubmit = function(e)
    {
        if (window.Input_Password.value != window.passwd_confirmation.value) {
            e.preventDefault();
            const message = document.querySelector('.message');
            message.textContent = "Passwords don't match";
        }
    }
</script>

<style>
    h2, p, input {
        margin-top: 0.7rem;
    }
</style>
