@page
@model BugzNet.Web.Pages.Admin.Theme.Edit

<div class="box has-text-centered">
    <strong>Feature Under Construction!</strong>
    <br>
    <textarea rows="20" cols="100" disabled>
        @Model.Data.Content
    </textarea>
</div>
