@page
@model BugzNet.Web.Pages.Admin.Theme.Edit

<div class="box has-text-centered">
    <strong>Feature Under Construction!</strong>
    <br>
    <textarea readonly>
        @Model.Data.Content
    </textarea>
</div>
