@using BugzNet.Infrastructure.Configuration; 
<!DOCTYPE html>
<html>
<head>
    <base target="_self">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BugzNet Web UI @AssemblyAttributes.Version</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/brands.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/solid.min.css" />
    <link rel="stylesheet" href="~/lib/bulma/css/bulma.min.css" />
    <link rel="stylesheet" href="~/lib/bulma/css/bulma-helpers.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
</head>
<body>
   @RenderBody()
   @RenderSection("Scripts", required: false)
</body>
</html>